<tr class="order-card">
	<td class="order-card__row">
		<img
			v-if="goods.product.image"
			class="order-card__img"
			loading="lazy"
			:src="'https://www.rcscomponents.kiev.ua' + goods.product.image"
			:alt="goods.product.description[0]"
		/>
		<img
			v-else
			class="order-card__img"
			loading="lazy"
			src="@/assets/images/empty.jpg"
			alt="empty image"
		/>
	</td>

	<td class="order-card__row order-card__row_fix-size">
		<RouterLink
			class="common-link"
			:to="{ name: 'goods', params: { code: goods.product.id } }"
		>
			<h3>{{ goods.product.description[0] }}</h3>
		</RouterLink>
		<p>{{ $t("order.codeGoods") }}: {{ goods.product.id }}</p>
	</td>

	<td class="order-card__row">
		<ProductAvailability
			:inStock="goods.product.stock_data"
			:unit="goods.product.pcs"
		/>
	</td>

	<td class="order-card__row">
		<ProductPrice :productPriceArray="goods.product.prices" />
	</td>

	<td class="order-card__row">
		<QuantitySelectionForm
			:isBayButtonVisible="false"
			:quantityOfProduct="goods.quantity ?? 1"
			v-on:changeQuantityOfProduct="changeQuantityOfProduct"
		>
			<template #button> {{ $t("order.recount") }} </template>
		</QuantitySelectionForm>
	</td>

	<td class="order-card__row">
		<button class="order-card__button-delete" @click="remove">
			<img
				class="order-card__button-delete-img"
				src="@/assets/images/delete.svg"
				alt="button delete product from cart"
			/>
		</button>
	</td>
</tr>
