.login-registration {
  @extend %button-style;

  padding: 0 32px;
  display: inline-block;
  min-width: max-content;
  line-height: $line-height;

  @media (max-width: $breakpoint-tablet) {
    padding: 0;
  }

  &__text {
    @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-pre-tablet) {
      display: none;
    }
  }
}
