.search {
  &__form {
    height: 45px;
    display: flex;

    @media (max-width: $breakpoint-pre-tablet) {
      width: 100%;
    }

    &-input {
      width: 590px;
      height: 100%;
      border: 1px solid #cfcfcf;
      font-size: 14px;
      padding-left: 17px;
      display: block;

      @media (max-width: $breakpoint-pre-tablet) {
        width: 100%;
      }
    }

    &-submit {
      width: 71px;
      height: 100%;
      background-color: var(--color-red);
      border: none;
    }

    &-button {
      width: 21px;
      height: 21px;

      &:hover {
        transform: scale(1.4);
      }
    }

    &-submit:hover {
      cursor: pointer;
    }

    &-in-stock {
      width: 143px;
      height: 100%;
      background-color: var(--blue-medium);
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      letter-spacing: 1px;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }

      &-checkbox {
        margin: 9px;
      }
    }
  }
}
