div.line {
  width: 100%;
  height: $line-height;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--blue-medium);
  z-index: -99;
}

.reset-text-decor {
  text-decoration: none;
}

.color-black-light {
  color: var(--text-color-primary);
}

.padding-bottom {
  padding-bottom: 23px;
}

.borders {
  border: 1px solid var(--border-color);
}

.cursor-pointer:hover {
  cursor: pointer;
}

.common-link {
  text-decoration: none;
  color: var(--color-blue-dark);
  font-weight: 700;
}

.common-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button {
  min-width: 29px;
  height: 24px;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: var(--blue-medium);
    cursor: pointer;
    color: var(--color-white);
  }

  &:disabled {
    cursor: not-allowed;
    background: none;
  }
}

.form {
  &__input-error {
    display: block;
    margin-top: 3px;
    height: 1.6rem;
    line-height: 1.6rem;
    visibility: hidden;
    color: var(--color-red);

    &_show {
      visibility: visible;
    }
  }
}

.overflow-hidden {
  overflow: hidden;
}
