.error {
  position: relative;
  padding-bottom: 46px;
  color: var(--blue-medium);

  &__header-text {
    font-size: 15rem;

    @media (max-width: $breakpoint-tablet) {
      font-size: 7rem;
    }
  }

  &__description-text {
    font-size: 10rem;

    @media (max-width: $breakpoint-tablet) {
      font-size: 5rem;
    }
  }

  &__icon {
    position: absolute;
    top: -1rem;
    left: 65%;
    font-size: 15rem;
    transform: rotate(20deg);
    opacity: 0.1;
  }
}
