@import "variables";
@import "components";
@import "global";
@import "cardLineComponent";
@import "error";

* {
  margin: 0;
  box-sizing: border-box;
  scrollbar-color: var(--blue-medium) var(--color-gray-light);
}

*:focus,
*:focus-visible {
  text-decoration: underline;
  border-radius: 5px;
  outline: var(--text-color-primary) solid 3px;
  outline-offset: -3px;
}

*::selection {
  color: var(--color-white);
  background-color: var(--blue-medium);
}

html {
  font-size: 10px;
}

body {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  background-color: var(--bg-color-page);
  color: var(--text-color-regular);
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  background-color: var(--bg-color-page);
  color: var(--text-color-primary);

  @media (max-width: $breakpoint-desktop) {
    padding: 0 15px;
  }

  &_transparent {
    background-color: transparent;
  }

  &_min-height {
    min-height: 600px;
  }
}

.hover:hover {
  cursor: pointer;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color-primary);
}

.m-hide {
  @media (max-width: $breakpoint-mobile) {
    display: none;
  }
}

.visibility-hidden {
  visibility: hidden;
}

.visibility-visible {
  visibility: visible;
}
