:root {
  --color-body: #f9f9f9;
  --color-white: #fff;
  --blue-white: #e0ecf5;
  --blue-light: #4a8fc5;
  --blue-medium: #2d7dbc;
  --color-blue-dark: #2c3685;
  --color-red: #e63d24;
  --color-gray-white: #f3f1f1;
  --color-gray-light: #d8d8d8;
  --color-gray-dark: #727171;
  --color-black-light: #272626;
  --color-black-light-alpha: rgba(39 38 38 / 70%);

  /* Size */
  --width-card: 253px;
  --breakpoint-mobile: 320px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;
}

html.dark {
  --color-body: #f9f9f9;
  --color-white: #fff;
  --blue-white: #e0ecf5;
  --blue-light: #4a8fc5;
  --blue-medium: #2d7dbc;
  --color-blue-dark: #2c3685;
  --color-red: #e63d24;
  --color-gray-white: #f3f1f1;
  --color-gray-light: #d8d8d8;
  --color-gray-dark: #727171;
  --color-black-light: #272626;
  --color-black-light-alpha: rgba(39 38 38 / 70%);
}
