<article class="linecard borders m-hide">
	<h2 class="linecard__header-text">{{ $t("bulletin.header") }}</h2>
	<form class="linecard__form" @submit.prevent="onSubmit">
		<label class="linecard__form-label" for="email">
			{{ $t("bulletin.label") }}
		</label>
		<input
			autocomplete="email"
			required
			aria-required="true"
			aria-label="Write an email to receive a messages"
			type="email"
			name="email"
			inputmode="email"
			enterkeyhint="send"
			id="email"
			class="linecard__form-select bulletin__input"
			v-model="email"
			:placeholder="$t('bulletin.placeholder')"
		/>
		<button
			type="submit"
			class="linecard__form-submit cursor-pointer"
		>
			{{ $t("bulletin.submit") }}
		</button>
	</form>
</article>
