.footer {
    min-width: 100%;

    &-catalog {
        padding: 40px 0 28px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #fafafa;

        &__item {
            text-decoration: none;
            flex: 1;
            display: flex;
            align-items: center;
            color: var(--color-black-light);

            &:hover {
                text-decoration: underline;
                transform: scale(1.05);
                transition: .3s ease-in-out;
            }

            &-image {
                width: 60px;
                padding-right: 12px;
            }

            &-text {
                font-weight: 700;
            }

        }

    }

    &-description {
        padding: 31px 0 23px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &__item {
            display: flex;
            flex-direction: column;
            flex: 1;
            padding-right: 75px;

            &-header-text {
                font-size: 1.4rem;
                text-transform: uppercase;
                padding-bottom: 16px;
            }

            &_padding-bottom {
                padding-bottom: 13px;
            }

            &_row-gap {
                row-gap: 24px;
            }

            &-link {
                font-size: 1.4rem;
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 700;
                color: var(--color-black-light);

                &:hover {
                    text-decoration: underline;
                }
            }

            &-social {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex: 1;

                &-payments {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    column-gap: 4px;
                    row-gap: 4px;

                    &-image {
                        width: 45px;
                    }

                }
            }

        }
    }

}

.social-links {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    column-gap: 4px;
    row-gap: 4px;

    &__link {
        width: 48px;
        height: 45px;
        background-color: var(--color-blue-dark);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__image {
        width: 27px;
    }
}
