<ul class="container products">
	<li
		class="products__item"
		v-for="(item, index) in store.allMenuGroups"
		:key="index"
	>
		<RouterLink
			class="products__item-link"
			:to="{ name: 'group', params: { id: item.id } }"
			@click="
	      PingService.ping({
		action: 'go to page',
		to: router.resolve({ name: 'name', params: { id: item.id } })
		  .fullPath,
	      })
	    "
		>
			<img
				class="products__item-group-img"
				:src="'/images/groups/' + item.img"
				:alt="item.name"
			/>
			<h2 class="products__item-group-name">
				{{ item.name }}
			</h2>
		</RouterLink>
	</li>
</ul>
<ServerNotAvailable v-if="0 === store.allMenuGroups.length" />
