.subscribe {
  @extend %button-style;

  padding: 0 32px;
  text-align: center;

  @media (max-width: $breakpoint-tablet) {
    padding: 0;
  }

  &__text {
    @media (max-width: $breakpoint-pre-tablet) {
      display: none;
    }
  }
}
