.server-not-available {
  width: 100%;
  display: grid;
  place-items: center;
  padding: 12px;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);

  &__header {
    padding-bottom: 10px;
  }
}
