<section class="modal-window" v-if="store.isVisible" @click.self="store.hide">
	<header class="modal-window__header">
		<h2 class="modal-window__header-text">
			{{ store.headerText }}
		</h2>
		<button class="close-button" @click="store.hide">
			<div class="close-button__line"></div>
			<div
				class="close-button__line close-button__line_rotate-180"
			></div>
		</button>
	</header>
	<div class="modal-window__slot">
		<ModalWindowItem
			v-for="(item, index) in store.data"
			:key="item.id"
			:data="item"
			:index="index"
		/>
	</div>
	<slot></slot>
</section>
