.footer {
  &-catalog {
    padding: 40px 15px 28px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--bg-color);

    @media (max-width: $breakpoint-mobile) {
      flex-direction: column;
      row-gap: 40px;
      border-top: 1px solid var(--color-gray-light);
      border-bottom: 1px solid var(--color-gray-light);
    }

    &__item {
      text-decoration: none;
      flex: 1;
      display: flex;
      align-items: center;
      color: var(--text-color-primary);

      @media (max-width: $breakpoint-mobile) {
        justify-content: center;
      }

      &:hover {
        text-decoration: underline;
        transform: scale(1.05);
        transition: 0.3s ease-in-out;
      }

      &-image {
        width: 60px;
        padding-right: 12px;
      }

      &-text {
        font-weight: 700;

        @media (max-width: $breakpoint-mobile) {
          width: 45%;
          font-size: 16px;
          display: inline-block;
        }
      }
    }
  }
}
