.reset-text-decor {
    text-decoration: none;
}
.color--black-light {
    color: var(--color-black-light);
}

.padding-bottom {
    padding-bottom: 23px;
}

.borders {
    border: 1px solid var(--color-gray-light);

}

.cursor-pointer:hover {
    cursor: pointer;
}

.common-link {
    text-decoration: none;
    color: var(--color-blue-dark);
    font-weight: 700;
}
.common-link:hover {
    cursor: pointer;
    text-decoration: underline;
}