* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

.body {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    background-color: var(--color-body);
}

.container {
    margin: 0 auto;
    width: 1440px;
}

@import "variables.scss";
@import "components.scss";
@import "index.scss";
@import "html-components/header/header.scss";
@import "html-components/catalog/catalog.scss";
@import "html-components/cards-of-goods/small-goods-card.scss";
@import "html-components/slider/slider.scss";
@import "html-components/popular-products/popular-products.scss";
@import "html-components/linecard/linecard.scss";
@import "html-components/manufacturers/manufacturers.scss";
@import "html-components/bulletin/bulletin.scss";
@import "html-components/news/news.scss";
@import "html-components/recommended-products/recommended-products.scss";
@import "html-components/to-up/to-up.scss";
@import "html-components/shops-info/shops-info.scss";
@import "html-components/footer/footer.scss";
@import "html-components/copyright/copyright.scss";

