:root {
    --color-body: #f9f9f9;
    --color-white: #fff;
    --blue-light: #4a8fc5;
    --blue-medium: #2d7dbc;
    --color-blue-dark: #2C3685;
    --color-red: #e63d24;
    --color-gray-light: #d8d8d8;
    --color-gray-dark: #727171;
    --color-black-light: #272626;

    --width-card: 253px;
}